body {
  background-color: rgb(255, 248, 234);
  max-width: 780px;
  margin: 100px auto 0 auto;
  font-family: proxima-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

h2 {
  font-weight: normal;
  margin-bottom: 250px;
}

.backgroundImage {
  position: absolute;
  width: 700px;
  top: 0px;
  left: 25%;
  z-index: -1;
}

.datesContainer {
  display: flex;
  justify-content: flex-end;
}

.dates {
  display: flex;
  justify-content: space-evenly;
  width: 55.7%;
  padding-right: 2px;
}

.dateName {
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: rgb(247, 164, 10);
}

/* ADDING HABIT INPUT SECTION AND BUTTON */

.addHabitInput {
  float: left;
  margin-top: 20px;
}

.addHabitInput input {
  width: 200px;
  margin-left: 35px;
  padding: 5px;
  border: 2px solid rgb(247, 164, 10);
  box-shadow: 2px 2px 3px rgb(235, 235, 235);
  border-radius: 5px;
}

.addHabitInput button {
  color: white;
  background-color: rgb(247, 164, 10);
  border: 2px solid rgb(236, 157, 9);
  box-shadow: 2px 2px 3px rgb(235, 235, 235);
  border-radius: 5px;
  margin-left: 5px;
  width: 120px;
  padding: 5px;
  font-weight: bold;
}

.addHabitInput button:hover {
  background-color: rgb(253, 143, 0);
  border: 2px solid rgb(236, 138, 9);
}

.addHabitInput button:active {
  background-color: rgb(223, 108, 0);
  border: 2px solid rgb(218, 123, 0);
}

/* RESET WEEKS BUTTON */
.resetWeeks {
  float: right;
  margin-top: 20px;
  color: white;
  background-color: rgb(247, 164, 10);
  font-weight: bold;
  border: 2px solid rgb(236, 157, 9);
  box-shadow: 2px 2px 3px rgb(235, 235, 235);
  border-radius: 5px;
  margin-left: 5px;
  width: 150px;
  padding: 5px;
}

.resetWeeks:hover {
  background-color: rgb(253, 143, 0);
  border: 2px solid rgb(236, 138, 9);
}

.resetWeeks:active {
  background-color: rgb(223, 108, 0);
  border: 2px solid rgb(218, 123, 0);
}