@import "mediaQueries";

body {
  background-color: rgb(255, 248, 234);
  max-width: 780px;
  margin: 100px auto 0 auto;
  font-family: proxima-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;

  @include smallerDesktop {
    width: 90%;
  }

  @include tablet {
    margin-top: 50px;
  }
}

h2 {
  font-weight: normal;
  margin-bottom: 250px;

  @include smallerDesktop {
    margin-bottom: 350px;
  }

  @include tablet {
    margin-bottom: 50%;
  }
}

.backgroundImage {
  position: absolute;
  width: 700px;
  top: 0px;
  left: 25%;
  z-index: -1;

  @include smallDesktop {
    width: 650px;
    top: 20px;
  }

  @include smallerDesktop {
    width: 90%;
    top: 150px;
    left: 10%;
  }

  @include tablet {
    width: 100%;
    top: 110px;
    left: 0;
  }
}

.datesContainer {
  display: flex;
  justify-content: flex-end;

  @include tablet {
    justify-content: space-around;
  }
}

.dates {
  display: flex;
  justify-content: space-evenly;
  width: 55.7%;
  padding-right: 2px;

  @include tablet {
    padding-left: 6%;
    width: 90%;
    justify-content: space-around;
  }
}

.dateName {
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: rgb(247, 164, 10);
}

/* ADDING HABIT INPUT SECTION AND BUTTON */

.addHabitInput {
  float: left;
  margin-top: 20px;
  margin-bottom: 100px;

  @include tablet {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

.addHabitInput input {
  width: 200px;
  margin-left: 35px;
  padding: 5px;
  border: 2px solid rgb(247, 164, 10);
  box-shadow: 2px 2px 3px rgb(235, 235, 235);
  border-radius: 5px;

  @include tablet {
    width: 60%;
  }
}

.addHabitInput button {
  color: white;
  background-color: rgb(247, 164, 10);
  border: 2px solid rgb(236, 157, 9);
  box-shadow: 2px 2px 3px rgb(235, 235, 235);
  border-radius: 5px;
  margin-left: 5px;
  width: 120px;
  padding: 5px;
  font-weight: bold;
}

.addHabitInput button:hover {
  background-color: rgb(253, 143, 0);
  border: 2px solid rgb(236, 138, 9);
}

.addHabitInput button:active {
  background-color: rgb(223, 108, 0);
  border: 2px solid rgb(218, 123, 0);
}

/* RESET WEEKS BUTTON */
.resetWeeks {
  float: right;
  margin-top: 20px;
  color: white;
  background-color: rgb(247, 164, 10);
  font-weight: bold;
  border: 2px solid rgb(236, 157, 9);
  box-shadow: 2px 2px 3px rgb(235, 235, 235);
  border-radius: 5px;
  margin-left: 5px;
  width: 150px;
  padding: 5px;

  @include tablet {
    float: none;
    display: block;
    width: 40%;
    margin: 20px auto 50px auto;
  }
}

.resetWeeks:hover {
  background-color: rgb(253, 143, 0);
  border: 2px solid rgb(236, 138, 9);
}

.resetWeeks:active {
  background-color: rgb(223, 108, 0);
  border: 2px solid rgb(218, 123, 0);
}